
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
   font-weight: 300;
} 


h1 {
  margin-top: -15px;
  margin-left: 10px;
  font-weight: 300;
  font-size: 30px;
}


.irs-line { /* set color of unactive area of slider */
  background: none;
  background-color: #fff;
  border: 1px solid #ccc;
}

.irs-bar { /* set color of active area of slider */
  background-color: #e6e6e6;
  border: 1px solid #adadad;
  box-shadow: inset 0 2px 3px rgba(0,0,0,.125);
}

.irs-bar-edge {
    height: 8px;
    top: 25px;
    width: 14px;
  background-color: #e6e6e6;
  border: 1px solid #adadad;
  box-shadow: inset 0 2px 3px rgba(0,0,0,.125);
    border-right: 0;
    border-radius: 16px 0 0 16px;
    -moz-border-radius: 16px 0 0 16px;
}

.irs-slider { /* format circles of slider */
  top: 20px;
  width: 18px;
  height: 18px;
  background-color: #fff;
}

.irs-from, .irs-to, .irs-single { /* set color for fixed tick labels of slider */
  background-color: #e6e6e6;
  color: #333;
}

.irs-min, .irs-max { /* set color for selected tick labels of slider */
  background-color: #f5f5f5;
}



a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
